@import "vars";

button.backbutton,
button.viewbutton {
  color: $grey-col;
  background-color: transparent;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 1px solid $grey-col;
  border-radius: 3px;
  padding: 0.375rem 0.75rem;
}

div.button-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

Button.delete:hover {
  color: tomato;
  background-color: transparent;
}

