@import "custom";
@import "ShowCohort.scss";
@import "Notes.scss";
@import "ShowNote.scss";
@import "EditAddNote.scss";
@import "NavBar.scss";
@import "LoginSingup.scss";

#signup_buttons {
  display: flex;
  justify-content: space-between;
}

#login_button {
  display: flex;
  justify-content: flex-end;
}
