@import "custom";
@import 'ShowCohort.scss';


// .dropdown-toggle::after {
//     display:none;
// }

.completed-section{
  background-color: rgba(216, 208, 208, 0.925);
}

h1.title {
  padding: 10px;
  color: rgb(70,142,175);
  text-align: center;
  
}