@import "custom";
@import "ShowCohort.scss";
@import "Notes.scss";
@import "ShowNote.scss";
@import "EditAddNote.scss";



form{
  width: 400px
}


#signup_buttons{
  display: flex;
  justify-content: space-between;
}

#login_button{
   display: flex;
   justify-content: flex-end;
}

// .dropdown-toggle::after {
//     display:none;
// }



// h1.title {
//   padding: 10px;
//   color: rgb(70, 142, 175);
//   text-align: center;
// }
