// EditNote & addNote

form {
  width: 390px;
}

#image_container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;

  .edit_image {
    width: 300px;
  }
}

#edit_buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#picture {
  color: rgb(41, 55, 139);
  height: 45px;
  text-align: center;
}

#category_note {
  font-size: 13px;
  text-align: center;
}

#input_label {
  font-weight: 300;
}

#addnote_buttons {
  display: flex;
  justify-content: space-between;
  #back_icon {
    margin-top: 10px;
  }
}

#addnote_button {
  display: flex;
  justify-content: flex-end;
}

.addnote_container,
.editnote_container {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
}
