
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


.completed-section {
  background-color: rgba(216, 208, 208, 0.925);
}

// notes
.notes_container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 20px;
  margin-top: 30px;
  font-family: 'Merienda', cursive;
}

.card.border-secondary {
  padding: 10px;
  width: 370px;

  .card-header {
    background-color: rgba(107, 121, 223, 0.336);
  }

  .note_card {
    display: flex;
    justify-content: space-around;
  }

  #note_body{
    font-family: 'Raleway', sans-serif;
  }
}

#note_image {
  width: 70px;
  margin-left: 20px;
  margin-bottom:10px;
}

.note_buttons {
  display: flex;
}

#view_note_icon,
#back_icon {
  margin-right: 7px;
}

#view_note_icon:hover {
  background-color: rgba(156, 156, 214, 0.445);
  border-radius: 5px;
}

#delete_icon:hover {
  background-color: red;
  border-radius: 5px;
}

#back_icon:hover {
  background-color: rgba(160, 209, 241, 0.445);
  border-radius: 5px;
}

.pagination_container {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin-left: 25px;
}

#share_button{
  height: 30px;
  

}

@media screen and (min-width: 850px) {
  .notes_container {
    margin-top: 40px;
    .card {
      margin-bottom: 20px;
    
    }
    .card.border-secondary {
      width: 650px;
    }
  }

  .pagination_container {
    margin-left: 100px;
    margin-bottom: 50px;
  }
}
