@import "buttons";
@import "vars";

h5,
p.cohort-p,
h1.cohort-title {
  text-align: center;
}

Table {
  td.delcell {
    display: flex;
    justify-content: center;
  }
  margin-top: 15px;
}

.react-bootstrap-table table {
  table-layout: auto;
}

.teacher {
  padding-top: 0.15rem;
}

Button.btn-table {
  margin-right: auto;
  margin-left: auto;
}
